.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  flex-shrink: 0;
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }
}

.main-content {
  flex: 1 1 0%;
  height: 100vh;
  //overflow-y: auto;
  padding: 20px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .main-content {
    margin-left: 0;
    padding: 16px;
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
}

.menu-mobile-btn {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .scrollable-tabs {
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--bs-secondary-bg);
      border-radius: 4px;
    }

    .nav-item {
      white-space: nowrap;
    }
  }
}
